/* Main styles - Import all modular CSS files */

@import url('base.css');
@import url('layout.css');
@import url('buttons.css');
@import url('camera.css');
@import url('forms.css');
@import url('feedback.css');
@import url('responsive.css');
